body{
    margin: 0;
    padding: 0;
    background-color: red;
}

header{
    display: flex;
    flex-direction: column;
}

.encabezado{
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("../images/fondoDifuminado.jpg");
    background-size: cover;
    background-position: 180px -320px;    
}

.encabezado > h1, .encabezado > h2{
    position: absolute;
    color: white;
    top: 20%;
    left: 10%;
}

.encabezado > h2 {
    position: absolute;
    top: 45%; 
}

.encabezado > .logo{
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.navegacion{
    margin: 0;
    background-color: grey;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li{
    background-color: rgb(116, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 25px;
    font-size: 20px;
    border-radius: 20px;
}

li > a{
    text-decoration: none;
    color: white;
}

ul > li > a:hover{
    text-decoration: underline black;
}

.titulo > h1, .titulo > h2{
    width: 100%;
    text-align: center;
}

.titulo > h1{
    margin-bottom: 0;
}

.titulo > h2{
    margin-top: 0;
}

form{
    display: table;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

label{
    display: table-row;
    text-align: left;
}

label > span{
    display: table-cell;
    padding: 5px;
    text-align: right;
    font-weight: bold;
}

label > input{
    display: table-cell;
    padding: 5px;
    width: 50%;
    box-sizing: border-box;
}

input[type="submit"]{
    display: table-cell;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
}

.titulo > h1{
    font-size: 30px;
    font-weight: bold;
}

.titulo > h2{
    font-size: 20px;
}
