body{
    margin: 0;
    padding: 0;
    background-color: red;
}

header{
    display: flex;
    flex-direction: column;
}

.encabezado{
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("../images/fondoDifuminado.jpg");
    background-size: cover;
    background-position: 180px -320px;    
}

.encabezado > h1, .encabezado > h2{
    position: absolute;
    color: white;
    top: 20%;
    left: 10%;
}

.encabezado > h2 {
    position: absolute;
    top: 45%; 
}

.encabezado > .logo{
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.navegacion{
    margin: 0;
    background-color: aqua;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li{
    background-color: rgb(116, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 25px;
    font-size: 20px;
    border-radius: 20px;
}

li > a{
    text-decoration: none;
    color: white;
}

ul > li > a:hover{
    text-decoration: underline black;
}

.contenedor{
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.titulo > h1, .titulo > h2{
    width: 100%;
    text-align: center;
}

.titulo > h1{
    margin-bottom: 0;
}

.titulo > h2{
    margin-top: 0;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

iframe {
    width: 80%;
    height: 500px;
    border: 0; 
}
